:root {
  --background-color: #ffffff;
  --main-text-color: #212121;
  --accent-color: tomato;
  --main-font: Roboto, sans-serif;
}
body {
  background-color: var(--background-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  /* или через класс .footer-address */
  font-style: normal;
}
button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-family: var(--main-font);
  /* (убрать, если есть modern normalize) */
  border: none;
  border-radius: 4px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  /* color: inherit; */
}
.section-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
